---
import { getCollection } from 'astro:content';
import Container from '@/components/Container.astro';
import PageLayout from '@/layouts/Layout.astro';
import ArrowCard from '@/components/NavCard.astro';
import Link from '@/components/Link.astro';
import { SITE, HOME, SOCIALS } from '@/config';
import { dateRange } from '@/utils';
import Socials from '@/components/Socials.astro';

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection('projects'))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection('work'))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf()
  )
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class='animate font-semibold text-black dark:text-white' id='start'>
      Hello <span class='text-xl'>👋🏻</span>
    </h4>
    <div class='space-y-16'>
      <section>
        <article class='space-y-4'>
          <p class='animate'>
            The name's Safwan. I'm a software engineer specializing in web
            development. Frontend, backend, DevOps, you name it. I'm a fullstack
            developer with a passion for building things that live on the
            internet.
          </p>
          <p class='animate'>
            This site's main purpose is for me to document my journey as a
            developer and as a side benefit, share my knowledge with the world.
          </p>
        </article>
      </section>

      <section class='animate space-y-6'>
        <div class='flex flex-wrap gap-y-2 items-center justify-between'>
          <h5 class='font-semibold text-black dark:text-white'>Latest posts</h5>
          <Link href='/blog'> View all posts </Link>
        </div>
        <ul class='flex flex-col gap-4'>
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class='animate space-y-6' id='projects'>
        <div class='flex flex-wrap gap-y-2 items-center justify-between'>
          <h5 class='font-semibold text-black dark:text-white'>
            Recent projects
          </h5>
          <Link href='/projects'> View all projects </Link>
        </div>
        <ul class='flex flex-col gap-4'>
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class='animate space-y-6' id='work-exp'>
        <div class='flex flex-wrap gap-y-2 items-center justify-between'>
          <h5 class='font-semibold text-black dark:text-white'>
            Work Experience
          </h5>
          <Link href='/work'> View all roles </Link>
        </div>
        <ul class='flex flex-col space-y-4'>
          {
            work.map((entry) => (
              <li>
                <div class='text-sm opacity-75'>
                  {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                </div>
                <div class='font-semibold text-black dark:text-white'>
                  {entry.data.company}
                </div>
                <div class='text-sm opacity-75'>{entry.data.role}</div>
              </li>
            ))
          }
        </ul>
      </section>

      <section class='animate space-y-4' id='contact'>
        <h5 class='font-semibold text-black dark:text-white'>Get in touch</h5>
        <article>
          <p>
            If you want to connect with me for whatever reason - be it a
            collaboration, a project, or just to say hi - feel free to reach out
            to me on any of the following platforms. I'm always open to new
            opportunities and meeting new people. Don't be shy!
          </p>
        </article>
        <Socials />
      </section>
    </div>
  </Container>
</PageLayout>
